.white{background-color: #FFFFFF;}
.pale{ background-color: #666666;
       border-radius: 5px;
}
.red{ background-color: #FF3B30;}
.green{ background-color: #A4E786;}
.blue{ background-color: #34AADC;}
.yellow{ background-color: #FFDB4C;}
.grey{ background-color: #333333;}
.orange{ background-color:#FF9500;}