<script src="../Scripts/jquery-3.0.0.js"></script>
<script src="../MyScripts/main.js"></script>

<link href="../Content/Skeleton/normalize.css" rel="stylesheet" />
<link href="../Content/Skeleton/skeleton.css" rel="stylesheet" />

<link href="../Content/Site.css" rel="stylesheet" />

<link href="../Content/BackgroundColors.css" rel="stylesheet" />

<script>
    $(document).ready(function () {
        GetRepoData();
    });
</script>

<div id="Information">
    <h3>Information</h3>
</div>

<div id="Contributors" class="ContributorsBox">
    <h3>Contributors</h3>
</div>

<div id="OpenIssues" class="OpenIssuesClass">
    <h3>Open Issues</h3>
</div>