<script src="../Scripts/jquery-3.0.0.js"></script>
<script src="../MyScripts/main.js"></script>

<link href="../Content/Skeleton/normalize.css" rel="stylesheet" />
<link href="../Content/Skeleton/skeleton.css" rel="stylesheet" />

<link href="../Content/Site.css" rel="stylesheet" />

<script>
    $(document).ready(function () {
        GitSearch.GitHubSearch.Init();
    });
</script>

<div class="input-append">

    <input type="text" id="SearchTxt" class="input-medium search-query" placeholder="Search GitHub Repos" value="" style="margin: 10px;">
    <button type="button" id="SearchButton" class="button-primary" onclick="GitSearch.GitHubSearch.Search()"><i class="icon-search">Search!</i></button>
    <br />
</div>

<div id="Result" class="container" style="float:left; margin-left: 20px;">
    <table class="u-full-width" id="ResultTable">
        <thead>
            <tr>
                <th>Repository Name</th>
                <th>Repository Owner</th>
                <th>Repository Watchers</th>
                <th>Repository Forks</th>
            </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>
</div>